[metadata]
name = rpatools
version = 0.0.1
author = Kevin Lee
author_email = kevinmclee@gmail.com
description = This toolbox complements other open-source RPA
long_description = file: README.md
long_description_content_type = text/markdown
url = https://github.com/kleemc/rpatools
classifiers =
    Programming Language :: Python :: 3
    License :: OSI Approved :: MIT License
    Operating System :: OS Independent

[options]
packages = find:
python_requires = >=3.7
include_package_data = True